


            .mg_loader div {
                background-color: #888888;
            }
            #mg_lb_wrap .mg_loader div {
                background-color: #0e2b6f;
            }
			.mg_loader {
                width: 32px;
                height: 32px;	
                margin-top: -16px;
                margin-left: -16px;
            }
            .mgl_1, .mgl_2 {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                opacity: 0.6;
                position: absolute;
                top: 0;
                left: 0;
                
                -webkit-animation: mg-bounce 1.8s infinite ease-in-out;
                animation: mg-bounce 1.8s infinite ease-in-out;
            }
            .mgl_2 {
                -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
            }
            
            @-webkit-keyframes mg-bounce {
                0%, 100% {-webkit-transform: scale(0.0);}
                50% {-webkit-transform: scale(1.0);}
            }
            @keyframes mg-bounce {
                0%, 100% {transform: scale(0.0);} 
                50% {transform: scale(1.0);}
            }
			


.mg_box { 
  border-width: 0 10px 10px 0; 
}
.mg_rtl_mode .mg_box {
	left: calc((15px + 10px) * -1) !important;
}
.mg_items_container {
	width: calc(100% + 20px + 10px);
}
.mg_items_container.mg_not_even_w {
	width: calc(100% + 20px + 10px + 1px);	
}



.mgis_w_1_1 {width: calc(100% - 20px);}.mgis_h_1_1 {padding-bottom: calc(100% - 20px - 10px);}.mgis_w_1_2 {width: calc(49.9% - 10px);}.mgis_h_1_2 {padding-bottom: calc(49.9% - 10px - 10px);}.mgis_w_1_3 {width: calc(33.29% - 7px);}.mgis_h_1_3 {padding-bottom: calc(33.29% - 7px - 10px);}.mgis_w_2_3 {width: calc(66.58% - 13px);}.mgis_h_2_3 {padding-bottom: calc(66.58% - 13px - 10px);}.mgis_w_1_4 {width: calc(25% - 5px);}.mgis_h_1_4 {padding-bottom: calc(25% - 5px - 10px);}.mgis_w_3_4 {width: calc(74.99% - 15px);}.mgis_h_3_4 {padding-bottom: calc(74.99% - 15px - 10px);}.mgis_w_1_5 {width: calc(20% - 4px);}.mgis_h_1_5 {padding-bottom: calc(20% - 4px - 10px);}.mgis_w_2_5 {width: calc(39.9% - 8px);}.mgis_h_2_5 {padding-bottom: calc(39.9% - 8px - 10px);}.mgis_w_3_5 {width: calc(59.9% - 12px);}.mgis_h_3_5 {padding-bottom: calc(59.9% - 12px - 10px);}.mgis_w_4_5 {width: calc(79.9% - 16px);}.mgis_h_4_5 {padding-bottom: calc(79.9% - 16px - 10px);}.mgis_w_1_6 {width: calc(16.58% - 3px);}.mgis_h_1_6 {padding-bottom: calc(16.58% - 3px - 10px);}.mgis_w_5_6 {width: calc(83.29% - 17px);}.mgis_h_5_6 {padding-bottom: calc(83.29% - 17px - 10px);}.mgis_w_1_7 {width: calc(14.28% - 3px);}.mgis_h_1_7 {padding-bottom: calc(14.28% - 3px - 10px);}.mgis_w_1_8 {width: calc(12.5% - 3px);}.mgis_h_1_8 {padding-bottom: calc(12.5% - 3px - 10px);}.mgis_w_1_9 {width: calc(11.11% - 2px);}.mgis_h_1_9 {padding-bottom: calc(11.11% - 2px - 10px);}.mgis_w_1_10 {width: calc(10% - 2px);}.mgis_h_1_10 {padding-bottom: calc(10% - 2px - 10px);} 

.mg_mobile_mode .mgis_m_w_1_1 {width: calc(100% - 20px);}.mg_mobile_mode .mgis_m_h_1_1 {padding-bottom: calc(100% - 20px - 10px);}.mg_mobile_mode .mgis_m_w_1_2 {width: calc(49.9% - 10px);}.mg_mobile_mode .mgis_m_h_1_2 {padding-bottom: calc(49.9% - 10px - 10px);}.mg_mobile_mode .mgis_m_w_1_3 {width: calc(33.29% - 7px);}.mg_mobile_mode .mgis_m_h_1_3 {padding-bottom: calc(33.29% - 7px - 10px);}.mg_mobile_mode .mgis_m_w_2_3 {width: calc(66.58% - 13px);}.mg_mobile_mode .mgis_m_h_2_3 {padding-bottom: calc(66.58% - 13px - 10px);}.mg_mobile_mode .mgis_m_w_1_4 {width: calc(25% - 5px);}.mg_mobile_mode .mgis_m_h_1_4 {padding-bottom: calc(25% - 5px - 10px);}.mg_mobile_mode .mgis_m_w_3_4 {width: calc(74.99% - 15px);}.mg_mobile_mode .mgis_m_h_3_4 {padding-bottom: calc(74.99% - 15px - 10px);} 



.mg_grid_wrap {
	padding: 4px;
}
.mg_box:not(.mg_spacer) .mg_box_inner {
	box-shadow: 0px 0px 4px rgba(25, 25, 25, 0.3);
}
.mg_tu_attach .mgi_txt_under {
	box-shadow: 4px 0px 4px -4px rgba(25, 25, 25, 0.3), -4px 0px 4px -4px rgba(25, 25, 25, 0.3), 0 4px 4px -4px rgba(25, 25, 25, 0.3);
}



.mg_box_inner {
	border-style: solid;
    padding: 0px;
	background: rgba(255,255,255, 0);
    border: 0px solid #aaaaaa; 
}



.mgi_overlays {
    top: 0px; 
    right: 0px; 
    bottom: 0px; 
    left: 0px;
}
.mgi_primary_ol,
.mg_inl_slider_wrap .lcms_content,
.mg_inl_slider_wrap .lcms_nav span {
	background: #0e2b6f;
}
.mg_inl_slider_wrap .lcms_content {
	background: rgba(14,43,111, 0.85); 
    box-shadow: 0 0 0 1px #0e2b6f inset;
}
.mg_box:hover .mgi_primary_ol {
   
	opacity: 0.7; 
}
.mgi_item_type_ol {
	border-bottom-color: #ec373d;
}
span.mg_overlay_tit,
.mg_inl_slider_wrap .lcms_content,
.mg_inl_slider_wrap .lcms_nav span:before,
.mg_inl_slider_wrap .lcms_play span:before {
	color: #ffffff;
}
.mg_overlay_tit {
	background: rgba(14,43,111, 0.6);
    text-shadow: 0px 0 0px rgba(255,255,255, 0.4);
}
.mg_overlay_tit,
.mg_inl_slider_wrap .lcms_content {    	
	    font-size: 15px;
}
.mg_mobile_mode .mg_overlay_tit,
.mg_mobile_mode .mg_inl_slider_wrap .lcms_content {
	font-size: 13px;
}
.mg_overlay_tit:before {
	border-bottom-color: rgba(255,255,255, 0.4);
}


.mgi_item_type_ol span:before {
    color: #ffffff;
}



.mg_box_inner, 
.mg_box .mg_media_wrap,
.mgi_overlays,
.mg_inl_txt_media_bg,
.mg_inl_slider_wrap .lcms_content,
.mg_inl_slider_wrap .lcms_nav *,
.mg_inl_slider_wrap .lcms_play {
  border-radius: 3px;
}
.mg_tu_attach .mgi_txt_under {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;	
}






.mgi_txt_under {
    color: #333333;	
    padding-top: 	10px !important;
    padding-right: 	7px;
    padding-bottom: 10px;
    padding-left: 	7px;
}
.mg_def_txt_under {  	
	    font-size: 15px;
}
.mg_mobile_mode .mg_def_txt_under {
	font-size: 13px;
}
.mg_tu_attach .mgi_txt_under {
	 background: rgba(255,255,255, 0);
	 
	  
}
.mg_tu_detach .mgi_txt_under {
	margin-top: 3px;
}



.mg_inl_txt_contents {
    padding: 0 15px 0 15px;
    border-width: 15px 0 15px 0;
}
.mg_grid_wrap:not(.mg_mobile_mode) .mgis_h_auto .mg_inl_txt_media_bg,
.mg_mobile_mode .mgis_m_h_auto .mg_inl_txt_media_bg {
	top: 0px;
    bottom: 0px;
   	left: 0px;
    right: 0px; 
}


.mg_sh_inl_video video {
	background-color: #ffffff;
}




.mg_grid_wrap:not(.mg_mobile_mode) .mg_spacer_hidden_desktop,
.mg_mobile_mode .mg_spacer_hidden_mobile {
    max-width: 0 !important;
    max-height: 0 !important;
    padding: 0 !important;
}




.mg_filters_wrap .mgf,
.mgf_search_form input, .mgf_search_form i:before {	
	color: #606060;
    font-size: 14px;
}
.mg_filters_wrap .mgf,
.mgf_search_form input {
	}
.mg_mobile_mode .mg_filters_wrap .mgf,
.mg_mobile_mode .mgf_search_form input, .mg_mobile_mode .mgf_search_form i:before {	
	font-size: 12px;
}


.mg_filters_wrap .mgf:hover,
.mgf_search_form:hover input, .mgf_search_form:hover i:before {		
	color: #4a4a4a !important;
}
.mg_filters_wrap .mgf.mgf_selected, .mg_filters_wrap .mgf.mgf_selected:hover,
.mgf_search_form:focus input, .mgf_search_form:focus i:before {		
	color: #333333 !important;
}
.mg_textual_filters .mgf_selected {
	text-shadow: 0 0.01em 0 #333333;
}
.mg_button_filters .mgf,
.mg_textual_filters .mgf:after {	
	background-color: #f5f5f5;
}  
.mg_button_filters .mgf,
.mgf_search_form input {
    border: 0px solid #bbbbbb;
    border-radius: 2px;
}

.mg_button_filters .mgf:hover,
.mg_textual_filters .mgf:hover:after,
.mgf_search_form input:hover {	
	background-color: #000000;
}
.mg_button_filters .mgf:hover,
.mgf_search_form input:hover {	   
    border-color: #777777;
}

.mg_button_filters .mgf_selected, .mg_button_filters .mgf_selected:hover,
.mg_textual_filters .mgf_selected:after, .mg_textual_filters .mgf_selected:hover:after,
.mgf_search_form input:focus {	
	background-color: #dfdfdf;
}
.mg_button_filters .mgf_selected, .mg_button_filters .mgf_selected:hover,
.mgf_search_form input:focus {	   
    border-color: #aaaaaa;
}


.mg_left_filters:not(.mg_mobile_mode) .mg_above_grid,
.mg_right_filters:not(.mg_mobile_mode) .mg_above_grid {
	width: 160px;
    min-width: 160px;
}
.mg_left_filters:not(.mg_mobile_mode) .mg_items_container {
    border-left-width: 160px;
}
.mg_right_filters:not(.mg_mobile_mode) .mg_items_container {
    border-right-width: 160px;
}
.mg_left_filters:not(.mg_mobile_mode) > .mg_loader {
	-webkit-transform: 	translateX(80px);
	-ms-transform: 		translateX(80px);
	transform: 			translateX(80px);
} 
.mg_right_filters:not(.mg_mobile_mode) > .mg_loader {
	-webkit-transform: 	translateX(-80px);
    -ms-transform: 		translateX(-80px);
    transform: 			translateX(-80px);
}


.mgf_search_form input, 
.mgf_search_form i:before {	
	color: #606060;
    background-color: #f5f5f5;
    border-color: #bbbbbb}
.mgf_search_form:hover input, 
.mgf_search_form input:focus, .mgf_search_form:hover input:focus,
.mgf_search_form:hover i:before {
	color: #333333;
    background-color: #eeeeee;
	border-color: #aaaaaa}	

.mgf_search_form input::-webkit-input-placeholder {color: #606060;}
.mgf_search_form input:-ms-input-placeholder {color: #606060;}
.mgf_search_form input::placeholder {color: #606060;}


.mgf_search_form:hover input::-webkit-input-placeholder,
.mgf_search_form input:focus::-webkit-input-placeholder,
.mgf_search_form:hover input:focus::-webkit-input-placeholder {
	color: #333333;
} 

.mgf_search_form:hover input:-ms-input-placeholder,
.mgf_search_form input:focus::-ms-input-placeholder,
.mgf_search_form:hover input:focus:-ms-input-placeholder {
	color: #333333;
}

.mgf_search_form:hover input::placeholder,
.mgf_search_form input:focus::placeholder,
.mgf_search_form:hover input:focus::placeholder {
	color: #333333 !important;
}


.mg_mobile_mode .mg_dd_mobile_filters .mgf_inner {
	border: 0px solid #bbbbbb;
    border-radius: 2px;
    color: #606060;
}
.mg_mobile_mode .mg_dd_mobile_filters .mgf_inner.mgf_dd_expanded .mgf {
	border-bottom-color: rgba(187,187,187, 0.5);	
}


.mg_no_results:before {
	background-color: #f5f5f5;
    box-shadow: 0 0 0 1px #bbbbbb inset;
    border-radius: 2px;
    color: #606060;
}



.mg_pag_wrap {
	text-align: left;
}
.mg_right_filters:not(.mg_mobile_mode) .mg_pag_wrap {
    right: 160px;
}
.mg_left_filters:not(.mg_mobile_mode) .mg_pag_wrap {
	left: 160px;
}
.mg_pag_wrap > * {
	color: #666666;
    background-color: #00000000;
	border: 1px solid #bbbbbb;
    border-radius: 2px;
}
.mg_pag_wrap > *:not(.mg_pag_disabled):not(.mg_nav_mid):hover,
.mg_sel_pag, .mg_sel_pag:hover {
	color: #333333;
    background-color: #00000000;
	border-color: #aaaaaa;
}
.mg_pag_standard .mg_prev_page:before, .mg_pag_onlynum .mg_prev_page:before,
.mg_pag_standard .mg_next_page:before, .mg_pag_onlynum .mg_next_page:before {
	background: #aaaaaa;
}
#mg_lb_loader {
	border-radius: 5%;
}
#mg_lb_background {
	background: url(//messi.com/wp-content/plugins/media-grid/img/patterns/pattern-dot-b3.png) repeat top left #0e2b6f;  
}
#mg_lb_background.mg_lb_shown,
#mg_lb_background.google_crawler {
	
	opacity: 0.8;}
#mg_lb_contents {
	width: 100%;max-width: 2500px;border-radius: 0px;padding: 20px 20px 20px;}
.mg_item_title {
	font-size: 20px;
    }
.mg_item_text {
    font-size: 15px;
    line-height: 24px;
}
.mg_item_text,
ul.mg_cust_options {
	}




.mg_galleria_slider_wrap .galleria-thumbnails .galleria-image {
	width: 65px !important;
	border-radius: 1%;
}
.mg_galleria_slider_wrap .galleria-thumbnails .galleria-image,
.mg_galleria_slider_wrap .galleria-thumbnails-container {
     height: 45px !important;
}
.mg_galleria_slider_wrap.mg_galleria_slider_show_thumbs {
	padding-bottom: 59px !important;	
}
.mg_galleria_slider_show_thumbs .galleria-thumbnails-container {
	bottom: -57px !important;		
}


/* inner commands */
#mg_lb_ins_cmd_wrap {
	    left: 20px;
    right: 20px;
        
    }
@media screen and (max-width: 860px) {
 
	#mg_lb_contents {
		padding-top: 52px;
	}
}
 



/* Commands above lightbox */
#mg_lb_ins_cmd_wrap {
	top: -55px;
	left: 0 !important;
	right: 0 !important;
}
.mg_lb_nav_inside div span {
	border-radius: 2px;
}



/* texts responsivity */
@media screen and (max-width: 860px) { 
    .mg_item_title {
        font-size: 17px;
    }
    .mg_item_text {
        font-size: 13px;
    }
} 



/* inner lb cmd boxed */
#mg_lb_inside_nav > * > i,
.mg_lb_nav_inside div span,
#mg_inside_close {
	background: #FFFFFF;
	border-radius: 2px;
}
#mg_inside_close:before {
	font-size: 18px;
    top: 5px;
    left: 5px;
    display: block;
}
#mg_lb_inside_nav > * > i:before {
    font-size: 15px;
    top: -1px;
    vertical-align: middle;
}
.mg_inside_nav_next > i:before {
	margin-right: -3px;
}
.mg_lb_nav_inside div span {
	padding: 5px 9px 4px; 
}


/* lb rounded closing btn */
.mg_layout_full .mg_item_content {
	padding: 14px 2px 2px;	
}
.mg_lb_layout:not(.mg_layout_full) .mg_item_content {
    padding: 2px;
}
@media screen and (max-width: 860px) { 
    .mg_lb_layout:not(.mg_layout_full) .mg_item_content {
		padding: 14px 2px 2px !important;	
	}		
}

/* side text - desktop mode - inside cmd - top padding */


/* colors - shadow */
#mg_lb_contents,
#mg_lb_loader {
    color: #0e2b6f;background-color: #ffffff;}
#mg_lb_loader {
	}
.mg_cust_options,
#mg_lb_comments_wrap {
	border-color: #d4d4d4;
}


/* icons and loader */
.mg_close_lb:before, .mg_nav_prev > i:before, .mg_nav_next > i:before,
.mg_galleria_slider_wrap .galleria-thumb-nav-left:before, .mg_galleria_slider_wrap .galleria-thumb-nav-right:before,
#mg_socials span:before,
#mg_woo_item_added i:before {
	color: #0e2b6f;
}
 

/* navigation elements background color and border radius */
.mg_lb_nav_side *,
.mg_lb_nav_side_basic,
.mg_lb_nav_top > i, .mg_lb_nav_top > div, .mg_lb_nav_top > div *,
#mg_top_close {
	background-color: #ffffff; 
}

/* top closing button */
#mg_top_close {
	border-style: solid;
    border-color: #e2e2e2;
	border-width: 0 0 0px 0px;
    border-radius: 0 0 0 0px;
}



#mg_lb_background.mg_lb_shown {
    animation: mg_lb_bg_showup 0.4s forwards ease; 
    -webkit-animation: mg_lb_bg_showup 0.4s forwards ease;	
}

@-webkit-keyframes mg_lb_bg_showup {
    0% 		{-webkit-transform: scale(0.6);}
    100% 	{-webkit-transform: scale(1);}
}
@keyframes mg_lb_bg_showup {
    0%		{transform: scale(0.6);}
    100% 	{transform: scale(1);}
}






.mg_item_featured .easyzoom-notice,
.mg_item_featured .easyzoom-flyout {
	background: #ffffff;
    color: #0e2b6f; 
}



.mg_wc_atc_btn {
	background: #ccc;
    color: #3a3a3a; 
}
.mg_wc_atc_btn:hover,
.mg_wc_atc_btn.mg_wc_atc_btn_disabled,
.mg_wc_atc_btn.mg_wc_atc_btn_acting {
	background: #e3e3e3;
	color: #555; 
}
#mg_woo_cart_btn_wrap [name=mg_wc_atc_variations_dd],
#mg_woo_cart_btn_wrap [name=mg_wc_atc_quantity] {
	border-color: #d4d4d4;
}

.mg_galleria_slider_wrap .galleria-counter {display: none !important;}